body{
	scroll-behavior: smooth;
	font-family: Montserrat,Helvetica,Arial,sans-serif;
	background-color: black;
	background-image: url("../assets/backgrounds/defaultbg.png");
	background-repeat: repeat;
	margin: 0 100px 0 0;
	color:white;
}

#main, #board{
	margin: 0 auto;
	width: 85%;
	background-color: rgba(0, 0, 0, 0.5);
}

#board{
	margin-top: 2em;
	min-height: 50em;
	border-radius: 1em;
    box-sizing: border-box;
	padding: 1em;
}

#umboard {
	overflow-x: auto;
	width: 100%;
}

#umboard > div, #umboard > table {
	display: none;
}

#umboard div.visible-view {
	display: initial;
}

#umboard table.visible-view {
	display: table;
}

#banner{
	background-image: url("../assets/backgrounds/banner.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 0 -15em;
	justify-content: center;
	height: 18em;
}

#logo{
	width: auto;
	height: 100%;
	display:block;
	margin: 0 auto;
}

#data-selectors{ float: left; }
#view-selectors{ float: right; }

#data-selectors, #view-selectors {
	font-family: Verdana, sans-serif;
	font-size: 1.5em;
	white-space: nowrap;
	margin-bottom: 0.7em;
	-webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

#data-selectors table {
	border-spacing: 0;
}

#view-selectors table {
	display: inline-block;
	border-spacing: 0;
}

#view-selectors td:not(.selected-view) {
	cursor: pointer;
}

#view-selectors td.selected-view {
	background-color: white;
	color: black;
	transition: .2s;
}

#data-selectors tr, #view-selectors tr{
	border-radius: 0.2em;
	outline: 1px solid white ;
}

#data-selectors td, #view-selectors td{ 
	border-left: 1px solid white; 
	padding: 0.1em 0.3em 0.1em 0.3em;
	background-color: rgba(0, 0, 0, 0.4);
}

#data-selectors td:first-child, #data-selectors td:nth-child(4), #view-selectors td:first-child { 
	border-left: none;
}

.table-board{
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 1em;
	width: 100%;
	border-spacing: 0;
}

img.card{
	height: 3em;
	cursor: pointer;
    -webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

img.help{
	height: 0.8em;
	margin-left: 0.3em;
	position: relative;
	top: 2px;
	-webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

img.game-info{
	height: 1.45em;
	margin-right: 0.4em;
	position: relative;
	bottom: 2px;
    cursor: pointer;
}

[data-tip] {
  position: relative;
}

[data-tip]:hover:after {
  content: attr(data-tip);

  /*To fix a conflict for tags in the main menu*/
  -webkit-text-fill-color: white;
  text-indent: 0;

  text-align:center;
  font-size: 0.7em;
  font-weight: normal;

  position: absolute;
  bottom:120%;

  left: 50%;
  transform: translateX(-50%);

  padding: 10px;
  background-color: rgba(0, 0, 0, 0.95);
  white-space: pre;

  border: 2px solid black;
  border-radius:25px;
  z-index:99;

  filter:brightness(110%);

  box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  -o-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);

  animation: fadeEffect 0.2s;
}

.tip-under[data-tip]:hover:after {
	bottom: auto;
	top: 120%;
}

a:link, a:visited {
  color: white;
}

.table-board a:link, .table-board a:visited {
  color: #FEC900;
}

.filter-0, .filter-1 {
	display: none;
}

.selected-desc:after{
	margin-left: 0.1em;
	font-size: 0.4em;
	content: " Asc.";
}

.select-items div.select-disabled{
	color: grey;
	cursor: default;
}

.table-board tr { outline: thin solid grey; }
.table-board th, .table-board td { white-space: nowrap; }
.table-board td:nth-child(-n+22), .table-board td:nth-child(25), .table-board th { border-left: 1px solid grey; }
.table-board th:last-child, .table-board td:last-child { border-right: 1px solid grey; }
.table-board td:nth-child(-n+21) { padding-left: 1em; padding-right: 1em; }
.table-board th { padding: 0.5em; }
.table-board tr:nth-child(2n) { background-color: rgba(0, 0, 0, 0.25) }
.table-board th:not(.sorttable_nosort) { text-decoration: underline dotted white; cursor: pointer;}
.table-board th { 
	background-color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
	-webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

.entry-normal{
	width:100%;
	margin-bottom: 5px;
}

.entry-normal-top{
	background-color: #272953;
	border-radius: 5px 5px 0 0;
	padding: 0;
}

.entry-normal-top table{
	border-collapse: collapse;
}

.entry-normal-top img{
	height: 1em;
	position: relative;
	top: 3px;
	
	-webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

.entry-normal-top td:first-child{
	background-image: url("../assets/rank-bg.png");
	background-repeat: no-repeat;
	padding-left: 5px;
	font-weight: bold;
	color: black;
	padding-left: 5px;
	height: 32px;
	text-align: center;
	border-radius: 5px;
	-webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

.moreInfo{
	background-color: #0E9614;
	display: inline-block;
	padding: 3px 15px 3px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: .5s;
	-webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

.moreInfo:hover{
	background-color: #0A6B0F;
	transition: .5s;
}
 
.subName{
	font-size: .8em;
	color: grey;
	padding-left: .5em;
	
}

.entry-normal-bottom{
	background-color: rgba(27, 28, 56, 0.6);
	display: none;
	border-radius: 5px;
	padding: 1px 10px 10px 10px;
	border-radius: 0 0 5px 5px;
} /*hex: #1B1C38*/

.entry-normal-bottom th{
	-webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}