body{
	scroll-behavior: smooth;
	font-family: Montserrat,Helvetica,Arial,sans-serif;
	background-image: url("defaultbg.png");
	background-repeat: repeat;
	margin: 0 100px 0 0;
	color:white;
}

#main, #board{
	margin: 0 auto;
	width: 85%;
	background-color: rgba(0, 0, 0, 0.5);
}

#board{
	margin-top: 2em;
	min-height: 50em;
	border-radius: 1em;
    box-sizing: border-box;
	padding: 1em;
	overflow-x: scroll;
}

#banner{
	background-image: url("banner.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 0 -15em;
	justify-content: center;
	height: 18em;
}

#logo{
	width: auto;
	height: 100%;
	display:block;
	margin: 0 auto;
}

#umboard{
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 1em;
	width: 100%;
}

th { 
	background-color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
}

tr { outline: thin solid black; }
td, th { border-left: 1px solid #000; }
td:first-child, th:first-child { border-left: none; }
